<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- nav -->
<ul class="nav bg clearfix">
    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">

    </li>
    <li>
        <a href="/index" data-target="#content" data-el="#bjax-el" data-replace="true">
            <i class="icon-social-youtube icon  text-primary"></i>
            <span class="font-bold">推荐</span>
        </a>
    </li>
    <li>
        <a href="video.html">
            <i class="icon-disc icon text-success"></i>
            <span class="font-bold">发现</span>
        </a>
    </li>
    <li>
        <a href="genres.html">
            <i class="icon-music-tone-alt icon text-info"></i>
            <span class="font-bold">分类</span>
        </a>
    </li>
</ul>
<!-- / nav -->
</body>
</html>